<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sbseg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/sbseb_icon2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.sbseg.SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- added para teste -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.sbseg.activities.ProgrammingActivity"
            android:label="@string/title_activity_sbseg" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.sbseg.activities.Tutorials"
            android:icon="@drawable/caderno"
            android:label="@string/stringMinicursos" >
        </activity>
        <activity android:name="br.com.sbseg.activities.DetailTutorialActivity" >
        </activity>
        <activity
            android:name="br.com.sbseg.activities.DetailTutorials"
            android:icon="@drawable/caderno"
            android:label="@string/stringMinicurso" >
        </activity>
        <activity
            android:name="br.com.sbseg.activities.KeynotesMainActivity"
            android:icon="@drawable/apresentacao"
            android:label="@string/palestrasString" >
        </activity>
        <activity
            android:name="br.com.sbseg.activities.SessoesTecnicasActivity"
            android:icon="@drawable/documento"
            android:label="@string/sessoesString" >
        </activity>
        <activity
            android:name="br.com.sbseg.activities.TechSessionActivity"
            android:icon="@drawable/documento"
            android:label="@string/papersString" >
        </activity>
        <activity
            android:name="br.com.sbseg.activities.TelaKeynoteMainActivity"
            android:icon="@drawable/apresentacao"
            android:label="@string/palestranteString" >
        </activity>
        <activity android:name="br.com.sbseg.activities.TutorialsActivity" >
        </activity>
        <activity
            android:name="br.com.sbseg.activities.WorkshopActivity"
            android:icon="@drawable/documento"
            android:label="@string/stringWorkshop" >
        </activity>
        <activity
            android:name="br.com.sbseg.activities.WorkshopSecondActivity"
            android:icon="@drawable/documento"
            android:label="@string/stringWorkshopSegundaTela" >
        </activity>
        <activity
            android:name="br.com.sbseg.activities.SbsegMainActivity"
            android:label="@string/title_activity_sbseg" >
        </activity>
        <activity
            android:name="br.com.sbseg.FacebookSbsegMainActivity"
            android:label="@string/title_activity_facebook_sbseg_main" >
        </activity>
        <meta-data android:value="@string/app_id" android:name="com.facebook.sdk.ApplicationId"/>
        <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity"></activity>
    </application>

</manifest>