<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sbseg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.sbseg.activities.SbsegMainActivity"
            android:label="@string/title_activity_sbseg" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.sbseg.activities.ProgrammingActivity"
            android:label="@string/title_activity_sbseg" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.Tutorials">
        </activity>
        
        <activity
            android:name=".activities.DetailTutorialActivity">
        </activity>
        
        <activity
            android:name=".activities.DetailTutorials">
        </activity>
        
        <activity
            android:name=".activities.KeynotesMainActivity">
        </activity>
        
        <activity
            android:name="br.com.sbseg.activities.SessoesTecnicasActivity">
        </activity>
        
        <activity
            android:name="br.com.sbseg.activities.TechSessionActivity">
        </activity>
        
        <activity
            android:name="br.com.sbseg.activities.TelaKeynoteMainActivity">
        </activity>
        
        <activity
            android:name="br.com.sbseg.activities.TutorialsActivity">
        </activity>
        
        <activity
            android:name="br.com.sbseg.activities.WorkshopActivity">
        </activity>
        
        <activity
            android:name="br.com.sbseg.activities.WorkshopSecondActivity">
        </activity>
        
        
    </application>

</manifest>